body{
    /*导航栏遮挡内容*/
    padding-top: 70px;
    padding-bottom: 70px;
    /*充满整个屏幕*/
    position: relative;
    bottom: 0;
}
/*个人简介*/
#order-info .personal-intro{
    /*溢出文本用省略号替代*/
    display: block;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    /*-------------------*/
    margin-bottom: 0;
}
/*立即支付*/
#pay{
    position: fixed;
    width: 100%;
    height: 100%;
    bottom: 50px;
    display: flex;
    flex-direction: column;
}
#pay .list-group{
    margin-bottom: 0;
}
#mask{
    width: 100%;
    flex-grow: 1;
    background: gray;
    opacity: 0.5;
}
#pay .pay-way input{
    margin-top: 10px;
}
/*  修改日历控件 */
/*移除向下箭头*/
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
}
/*移除叉叉按钮*/
input[type="date"]::-webkit-clear-button{
    display:none;
}
/*移除焦点颜色*/
input{
    outline: none;
}
/*页脚*/
#user-order-footer .navbar-brand{
    background: pink;
    color: white;
}
#user-order-footer .nav{
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
}
#user-order-footer .nav li{
    flex-grow: 1;
    text-align: center;
}
#pay-now,#pull-cart{
    padding: 0;
    height: 100%;
    line-height: 50px;
}
/*图标*/
.icon{
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
}
#order-choice li:nth-child(1) .icon{
    background: url(../img/css_sprite.png) no-repeat -116px -94px;
}
#order-choice li:nth-child(2) .icon{
    background: url(../img/css_sprite.png) no-repeat -82px -93px;
}
#order-choice li:nth-child(3) .icon{
    background: url(../img/css_sprite.png) no-repeat -16px -64px;
}
#order-choice li:nth-child(4) .icon{
    background: url(../img/css_sprite.png) no-repeat -48px -94px;
}
#service .icon:nth-child(1){
    background: url(../img/css_sprite.png) no-repeat -150px -94px;
}
#service .icon:nth-child(2){
    background: url(../img/css_sprite.png) no-repeat -16px -8px;
}
.alipay{
    display: inline-block;
    width: 32px;
    height: 32px;
    background: url(../img/css_sprite.png) no-repeat -14px -157px;
    vertical-align: middle;
}
.wechat{
    display: inline-block;
    width: 32px;
    height: 32px;
    background: url(../img/css_sprite.png) no-repeat -68px -157px;
    vertical-align: middle;
}