/*验证码*/
.code{
    width: 100%;
    height: 50px;
}
#code{
    display: inline-block;
    font-size: 20px;
}
.vcode{
    display: inline-block;
    width: 14px;
    height: 16px;
    background: url(../img/verify_code.png) no-repeat center;
    background-size: cover;
}
.user-psd2{
    display: inline-block;
    width: 14px;
    height: 16px;
    background: url(../img/user_psd2.png) no-repeat center;
    background-size: cover;
}
/*去除input边框*/
#user-register-form input{
    border: 0;
    box-shadow: none;
    display: inline;
    width: 80%;
    height: 22px;
}

/*验证信息*/
.checked,.checked-false{
    position: absolute;
    top: 15px;
    right: 5px;
    display: none;
}
/*小眼睛*/
.glyphicon-eye-open,.glyphicon-eye-close{
    position: absolute;
    top: 15px;
    right: 25px;
    display: none;
}