#protector-last{
    padding-left: 3%;
}
#protector-last .protector-upload span{
    float: left;
    font-size: 1.5rem;
    margin-top: 12%;
}
#protector-last .protector-upload .replay-push{
    width: 30%;
    height: 70%;
    background: #5cb85c;
    color: #fff;
    line-height: 1.5rem;
    margin-left: 50%;
    padding: 2rem;
}
.footer-next{
    text-align: center;
    line-height: 48px;
    font-size: 2.5rem;
    margin-top: 4.4rem;
}
.footer-next a{
    margin: 0 3%;
    color: #fff;
    font-weight: bolder;
}